.login {
}

.login-field {
    border: none;
    background-color: rgba(0, 0, 0, .25);
    color: #fdfdfd;
    margin-top: 1rem;
    padding: 1rem;
    gap: 10px;
    font-size: 1.2rem;
    border-radius: 7px;
    width: 100%;
    transition: all .1S linear;
}

.login-field:focus {
    box-shadow: 0 4px 4px rgba(0, 0, 0, .5);
    outline: none;
    background: #0000000d;
}

::-webkit-input-placeholder {
    color: #ccc;
    font-size: medium;
 }

 :-ms-input-placeholder {  
    color: #ccc;
    font-size: medium;  
 }

.login-error {
    color: #ff8080;
}

.login-btn {
    background-color: #12e298; 
    /* #00cc99; */
    color: #111; 
    /* #55419d; */
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.login-btn:hover{
    cursor: pointer;
    background-color: #12e278;
    /* #00cc85; */
}

.login-group{
}

.login-cadastrar,
.login-cadastrar{
    cursor: pointer;
    margin-left: 1rem;
}

a{
    text-decoration: none;
    color: snow;
}

.table{
    vertical-align: middle;
}

.tbl{
    height: 70vh;
}

#fechar{
    display: none;
}