@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
}

a:hover {
    color: inherit;
}

body {
    /* #9900FA*/
    /* #03A9F4; */
    background:#6495ed; 
    font-family: "Space Mono", monospace;
    color: #FDFDFD;
}

#acao button{
    margin-right: 4px;
}

.limit-tabela{
    height: 60vh;
}